{{#spark-content-container}}
  {{spark-header/sparks-logotype
    local-class="logo"
    invert=invertLogoColors
  }}

  {{small}}

  <ul local-class="links">
    <li local-class="li">
      <a local-class="link component-list">
        More components
        {{spark-header/component-menu}}
      </a>
    </li>
    <li local-class="li">
      <a local-class="link">
        GitHub
      </a>
    </li>
  </ul>
{{/spark-content-container}}

