<header
  local-class="header"
>

  <ul local-class="traffic-lights">
    <li local-class="light red"></li>
    <li local-class="light yellow"></li>
    <li local-class="light green"></li>
  </ul>

  <p local-class="title">
    Try it yourself!
  </p>
</header>

<div local-class="content">
  {{yield}}
</div>

