@value footer-bg-color: #746060;
@value mobile-width: 500px;

.footer {
  padding: 80px 0;
  background-color: footer-bg-color;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.15);
  text-align: center;
  @media all and (max-width: mobile-width) {
    padding: 50px 0;
  }
}

.disclaimer {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: rgba(255,255,255,0.92);
  @media all and (max-width: mobile-width) {
    font-size: 15px;
  }
}

.heart {
  background-image: url("/images/heart-icon.svg");
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 20px;
  position: relative;
  margin: 0 4px;
  margin-top: -4px;
}

.link {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

