<p local-class="disclaimer">
  Hand-crafted with
  <span local-class="heart"></span>
  by 
  <a 
    local-class="link"
    href="https://github.com/t4t5" 
    target="_blank"
  >
    Tristan Edwards
  </a>
</p>

