@value code-font: Inconsolata, Menlo, monospace;
@value mobile-width from '../styles';
@value smallest-width: 415px;

.window {
  background-color: #615C5B;
  box-shadow: 0 1px 0 0 #FFFFFF;
  border-radius: 7px;
  width: 327px;
  height: 52px;
  display: block;
  margin: 20px auto;
  position: relative;
  text-align: left;
  padding: 15px;
  @media all and (max-width: smallest-width) {
    margin: 20px;
    width: auto;
  }
}

.traffic-lights {
  position: absolute;
  left: 10px;
  top: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.light {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,0.14);
  border-radius: 50%;
  display: inline-block;
  margin: 0 1px;
}

.code {
  font-family: code-font;
  font-size: 17px;
  line-height: 19px;
  color: white;
  margin-top: 26px;
  display: block;

  &:before {
    content: "$";
    margin-right: 22px;
    display: inline-block;
    transform: rotate(7deg);
    font-size: 18px;
    color: rgba(255,215,206,0.52);
  }

  & .command {
    color: #FF8169;
  }

  @media all and (max-width: mobile-width) {
    font-size: 14px;
    &::before {
      margin-right: 10px;
    }
  }
}

