<ul local-class="traffic-lights">
  <li local-class="light"></li>
  <li local-class="light"></li>
  <li local-class="light"></li>
</ul>

<code local-class="code"><span local-class="command">ember
  </span>
    install ember-sparks
</code>
