{{landing-top/bg-star
  local-class="star first"
}}

{{landing-top/bg-star
  local-class="star second"
}}

<h2 local-class="title">
  Ambitious UI components for
  <span local-class="logo">Ember</span>
  apps
</h2>


{{landing-top/install-code}}
