<h3 local-class="title">
  {{title}}
</h3>

<table local-class="table">

  <thead>
    <tr local-class="tr th-row">
      {{#each tableTitles as |title|}}
        <th local-class="th">
          {{title}}
        </th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each options as |option|}}
      <tr local-class="tr">
        {{#each-in option as |name value|}}
          {{#spark-page/spark-options/options-table/column-value
            identifier=option.name
            title=title
            name=name
            value=value
          }}
            {{yield}}
          {{/spark-page/spark-options/options-table/column-value}}
        {{/each-in}}
      </tr>
    {{/each}}
  </tbody>

</table>

