{{docs-container/side-menu
  parts=parts
  activeLinkId=activeLinkId
}}

<div local-class="content">
  {{#each parts as |part|}}

    {{docs-container/doc-part
      parts=parts
      title=part.title
      id=part.id
      setActiveLink=(action 'setActiveLink')
    }}

  {{/each}}
</div>

