@value default-position: translateX(-50%) translateY(100%);
@value mobile-width from 'ember-sparks/components/spark-header/styles';

.bg {
  pointer-events: none;
  background: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12), 0 2px 10px 0 rgba(0,0,0,0.06);
  border-radius: 8px;
  padding: 17px 20px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-top: 17px;
  width: 400px;
  white-space: normal;

  transform: default-position rotateX(-15deg);
  transform-origin: 50% -50px;
  opacity: 0;
  will-change: transform,opacity;
  transition-property: transform,opacity;
  transition-duration: .25s;
  @media all and (max-width: mobile-width) {
    position: fixed;
    left: 10px;
    right: 10px;
    width: auto;
    transform: none;
    top: 106px;
    bottom: auto;
    padding: 10px;
  }

  /* Caret */
  &::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 9px 100% 100% 100%;
    left: 50%;
    top: -5px;
    transform: translateX(-50%) rotate(45deg);
    background-color: inherit;
    box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.06);
    @media all and (max-width: mobile-width) {
      margin-left: -47px;
    }
  }
}

:global(a):hover > .bg {
  pointer-events: auto;
  opacity: 1;
  transform: default-position;

  @media all and (max-width: mobile-width) {
    transform: none;
  }
}

.ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.li {
  margin: 0;
  width: 48%;
  width: calc(50% - 4px);
  display: inline-block;
  text-align: left;
  margin: 5px 0;
}

.link {
  display: inline-block;
  text-transform: uppercase;
  font-size: 17px;
  color: #AE664D;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  vertical-align: middle;
  @media all and (max-width: mobile-width) {
    font-size: 15px;
    padding: 7px;
  }

  &:hover {
    background-color: #FFF0E1;
    color: #D8462A;
  }
}

