@value code-window-width, tablet-width from './code-window/styles';

.demo-container {
  @media all and (max-width: tablet-width) {
    text-align: center;
  }
}

.preview {
  width: calc(100% - code-window-width - 4px);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  @media all and (max-width: tablet-width) {
    width: auto;
  }
}
