.logotype {

  & .star-1,
  & .star-2 {
    fill: none;
  }

  &.invert {
    & .ember,
    & .sparks {
      fill: white; 
    }

    & .star-1 {
      stroke: white;
    }

    & .star-2 {
      stroke: #FAAC78;
    }
  }

}
