@value code-font from 'dummy/components/landing-top/install-code/styles';

.container {
  /* Compensate for header height: */
  padding-top: 80px;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  margin-top: 30px;
  font-size: 28px;
  font-weight: 300;
  color: #5d3232;
}

.text-container {
  /*min-height: 400px;*/
  color: #543939;
  font-size: 17px;
}

.quote {
  margin: 0;
  position: relative;
  display: inline-block;
  margin: 40px 20px;
  &::before {
    content: '"';
    font-family: cursive;
    font-size: 100px;
    position: absolute;
    opacity: 0.1;
    top: -58px;
    left: -44px;
  }

  & .quote-text {
    font-size: 26px;
    color: rgba(160, 141, 127, 0.77);
    font-style: oblique;
    font-weight: 400;
  }

  & .cite {
    margin-top: 14px;
    display: block;
    float: right;
    color: rgba(72, 46, 46, 0.77);
    &::before {
      content: "-";
    }
  }
}

.text {
  line-height: 40px;
  font-size: 18px;
  color: rgba(72, 68, 65, 0.89);
  font-weight: 400;
  margin: 23px 0;
}

.code-block {
  white-space: normal;
  padding: 25px 27px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.84);
  margin: 27px 0;
}

.code {
  font-family: code-font;
  font-size: 16px;
}


