{{ember-ic-you
  triggerDistance=-400
}}

<h3
  local-class="title"
>
  {{title}}
</h3>

<div local-class="text-container">

  <blockquote local-class="quote">
    <p local-class="quote-text">
      Design isn't about how it looks, it's about how it works.
    </p>
    <cite local-class="cite">
      Steve Jobs
    </cite>
  </blockquote>

  <p local-class="text">
    Are you tired of always building the same type of UI elements no matter what app you're working on? You're not alone. Some things are just mandatory for any web app. Whether it's a button with a loading state, or an input that can show an error message, there's always this feeling of "déja-vu" when you're reimplementing the functionality for the 23rd time.
  </p>

  <p local-class="text">
    Enter <strong>Ember Sparks</strong>. Using the power of the Ember ecosystem, we can develop a set of components that handle the common functionality that we all need in our apps, while keeping them easily customizable.
  </p>

  <p local-class="text">
    Installing Ember Sparks for your Ember app is a piece of cake:
  </p>

  <pre local-class="code-block">
    <code local-class="code">
      ember install ember-sparks
    </code>
  </pre>

</div>
