@value empty-margin-fix: -8px;

.container {
  text-align: left;
}

.tag-open::before {
  content: "{{";
}

.tag-close::after {
  content: "}}";
}

.component-name {
  color: #5AC38A;
  margin-left: empty-margin-fix;
}

