<span local-class="tag-open"></span>

<span local-class="component-name">
  {{name}}
</span>

{{#each-in options as |key value|}}
  {{spark-page/spark-demo/try-code/option-row
    key=key
    value=value
    didUpdate=(action "didUpdate")
  }}
{{/each-in}}

<span local-class="tag-close"></span>

