@value code-font from 'ember-sparks/components/spark-page/spark-demo/code-window/styles';

.window {
  padding: 10px;
  padding-right: 25px;
  padding-left: 27px;
  white-space: nowrap;
  font-size: 15px;
  font-family: code-font;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.43);
  text-indent: -16px;
  overflow-x: scroll;
  &::before {
    content: attr(data-top-css);
    display: block;
  }
  &::after {
    content: "}";
    display: block;
  }
}

.property {
  color: #2684B4;
}

.value {
  color: #7957A4;
}

