@value mobile-breakpoint: 920px;

.menu {
  width: 20%;
  margin-top: 100px;
  padding: 10px;
  @media all and (max-width: mobile-breakpoint) {
    display: none;
  }
}

.top-title {
  margin-top: 0;
  color: rgba(169, 138, 138, 0.35);
  font-weight: 400;
}

