<span local-class="option-name">
  {{key}}
</span>
=

<span local-class="editable-wrapper">
  {{content-editable
    local-class="option-value"
    tagName="span"
    value=value
    placeholder="null"
  }}

  <span 
    local-class="fake-cursor"
    class="blink-cursor"
  ></span>
</span>
