{{#spark-content-container}}

  <p local-class="text">
    We all use similar UI elements in our apps.<br>
    Why reinvent the wheel when you can just drop a spark component into your template and let it do the heavy-lifting?
  </p>

  {{#click-outside action="toggleComponents"}}
    <button 
      local-class="button" 
      {{action "toggleComponents" true}}
    >
      See list of components
    </button>
  {{/click-outside}}

{{/spark-content-container}}
