@value body-bg-color: #FCFAF9;
@value page-font: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

@value tablet-width from './spark-demo/code-window/styles';

:global(html, body) {
  margin: 0;
  font-family: page-font;
  background-color: body-bg-color;
}

.body {
  padding-top: 88px;
  padding-bottom: 88px;
  @media all and (max-width: 600px) {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

p {
  margin: 0;
}

